p, a, li, button, h2, h3, .catchphrase__title {
  font-family: Roboto, sans-serif;
}

.main-container__header__title, .footer-title {
  font-family: Shrikhand;
}

body {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-size: 16px;
  font-weight: 500;
}

.text-normal {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  body {
    background-color: white;
  }
}
.grey-icon {
  color: #7E7E7E;
}

.purple-icon {
  color: #9356DC;
}

button {
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  height: 50px;
  transition-property: all;
  transition-duration: 300ms;
}

button:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.heart {
  display: block;
  width: 22px;
  height: 21px;
}
.heart__checkbox {
  display: none;
}
.heart__full {
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  width: 22px;
  height: 21px;
}
.heart__checkbox:checked ~ .heart__full {
  opacity: 1;
}
.heart__empty {
  position: absolute;
  width: 22px;
  height: 21px;
}

header {
  background-color: white;
  width: 100%;
  height: 63px;
}
header div {
  width: 100%;
  height: 100%;
  display: flex;
}
header div a {
  text-decoration: none;
  color: black;
}
header div a i {
  position: absolute;
  margin-left: 23px;
  margin-top: 24px;
  width: 17.2px;
  height: 16px;
}
header div img {
  width: 162px;
  margin-top: 14px;
  margin: auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  animation: hidden-loading 3s forwards;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid #99E2D0;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.element-loading {
  opacity: 0;
  animation: visible-loading 1s forwards;
  animation-delay: 2s;
}

@keyframes hidden-loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes visible-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*#################### MOBILE FIRST CODE ####################*/
/*********** Small devices (mobile, less than 768px) ***********/
/* location */
.location-container {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 3px 4px #CCC;
}
.location-container i {
  margin-right: 17px;
}

/* catchphrase */
.catchphrase {
  padding-top: 39.5px;
  background-color: #F3F3F3;
  width: 100%;
}
.catchphrase__title {
  display: block;
  height: 68px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 50px 0px 50px;
}
.catchphrase__subtitle {
  margin: 0%;
  color: #353535;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}
.catchphrase form {
  text-align: center;
}
.catchphrase form button {
  margin-bottom: 57px;
  width: 218px;
}

/* help */
.help {
  width: 100%;
}
.help__container__title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 48px;
  margin-left: 20px;
}
.help ol {
  counter-reset: repas;
  margin: 26px 20px 43px 20px;
  padding-inline-start: 10px;
}
.help li {
  position: relative;
  list-style-type: none;
  counter-increment: repas;
  margin-bottom: 25px;
  background-color: #F7F7F7;
  padding: 30px 0px 30px 0px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.help li i {
  margin-right: 25px;
}
.help li:before {
  position: relative;
  right: 15px;
  content: counter(repas);
  padding: 5px 10px 5px 10px;
  margin-right: 8px;
  vertical-align: top;
  background: #9356DC;
  border-radius: 60px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

/* restaurants */
.restaurants {
  background-color: #F3F3F3;
  width: 100%;
  padding-bottom: 66px;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  margin: 54px 0px 20px 20px;
}
.restaurants__row__card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  margin: 0px 18px 18px 18px;
  height: 251px;
}
.restaurants__row__card__new {
  background-color: #99E2D0;
  position: absolute;
  z-index: 2;
  right: 0;
  margin-right: 35px;
  margin-top: 10px;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants__row__card__new__p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: #008766;
}
.restaurants__row__card__heart {
  position: absolute;
  z-index: 2;
  margin-right: 60px;
  right: 0;
  margin-top: 205px;
}
.restaurants__row__card__link {
  color: black;
  position: relative;
  z-index: 1;
}
.restaurants__row__card__link__img {
  width: 100%;
  height: 67%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants__row__card__link__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 33%;
}
.restaurants__row__card__link__content__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin-left: 13px;
  margin-top: 0;
}
.restaurants__row__card__link__content__text__title {
  display: block;
  margin-top: 14px;
  font-weight: 700;
  font-size: 18px;
}
.restaurants__row__card__link__content__text__subtitle {
  display: block;
  margin: 5px 0px 0px 0px;
  font-weight: 300;
  font-size: 17px;
}

/*#################### MEDIA QUERIES ####################*/
/*********** Medium devices (tablets, more/equal than 1024px) ***********/
@media (min-width: 768px) {
  /* help */
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .help__container {
    width: 500px;
  }
  /* restaurants */
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding-bottom: 0px;
  }
  .restaurants__title {
    display: block;
    width: 100%;
  }
  .restaurants__row {
    width: 100%;
  }
  .restaurants__row__card {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .restaurants__row__card__new {
    margin-left: 405px;
    margin-right: 0;
    right: auto;
  }
  .restaurants__row__card__heart {
    right: auto;
    margin-left: 440px;
  }
  .restaurants__row__card__link__img {
    object-fit: cover;
  }
}
/*********** Big devices (PC, more than 1024px) ***********/
@media (min-width: 1024px) {
  /* catchphrase */
  .catchphrase form button {
    margin-bottom: 30px;
  }
  /* help */
  .help {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .help__container {
    width: 100%;
    max-width: 1100px;
  }
  .help__container__title {
    margin-left: 0;
  }
  .help ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 25px;
  }
  .help li {
    width: 322px;
  }
  /* restaurant */
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
  }
  .restaurants__title {
    margin-top: 30px;
  }
  .restaurants__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .restaurants__row__card {
    width: 500px;
  }
}
/*#################### MOBILE FIRST CODE ####################*/
/*********** Small devices (mobile, less than 768px) ***********/
.main-image {
  width: 100%;
  height: 275px;
}

/* main content ~ sub-header ~ heart ~ button */
.main-container {
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 40px;
}
.main-container__header {
  margin: 32px 17px 2px 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container__header__title {
  font-weight: 400;
  font-size: 28px;
}
.main-container__header__heart {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 8px;
}
.main-container__form__button {
  display: block;
  margin-top: 40px;
  width: 186px;
  margin-left: auto;
  margin-right: auto;
}

/* main content ~ menu */
.menu__container__title {
  margin-top: 40px;
  margin-left: 13px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__container__line {
  border: 2px solid #99E2D0;
  margin-left: 13px;
  width: 40px;
}
.menu__container__checkbox {
  display: none;
}
.menu__container__card {
  background-color: white;
  margin: 12px 13px 0px 13px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.menu__container__card__content {
  position: relative;
  z-index: 3;
  min-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.menu__container__card__content__left {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__container__card__content__left__name {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 12px 0px 0px 15px;
  font-weight: 500;
  font-size: 18px;
}
.menu__container__card__content__left__description {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
  font-size: 15px;
  margin: 0px 0px 12px 15px;
}
.menu__container__card__content__right {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.menu__container__card__content__right__price {
  display: block;
  font-weight: 700;
  font-size: 15px;
  margin: 0px 15px 13px 0px;
}
.menu__container__card__check {
  position: relative;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  transition: all 500ms;
  width: 0px;
}
.menu__container__card__check__icon {
  color: white;
  transition: all 500ms;
  transform: translateX(60px);
}
.menu__container__card:hover .menu__container__card__check {
  width: 60px;
}
.menu__container__card:hover .menu__container__card__check .menu__container__card__check__icon {
  transform: translateX(0);
}

/*#################### MEDIA QUERIES ####################*/
/*********** Medium devices (tablets, more/equal than 1024px) ***********/
@media (min-width: 768px) {
  .main-image {
    height: 315px;
    object-fit: cover;
  }
  .main-container {
    width: 1055px;
  }
  .main-container__header {
    justify-content: center;
  }
  .main-container__header__heart {
    margin-right: 350px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__container__card {
    width: 634px;
  }
}
/*********** Big devices (PC, more than 1024px) ***********/
@media (min-width: 1024px) {
  .main-image {
    height: 350px;
    object-fit: cover;
  }
  .main-container {
    width: 1055px;
  }
  .main-container__header {
    justify-content: center;
  }
  .main-container__header__heart {
    margin-right: 70px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__container__card {
    width: 634px;
  }
}
/*#################### MENU LOADING ####################*/
@keyframes menu-loading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.menu__container {
  transform: scaleY(0);
  animation: menu-loading 1s forwards;
  transform-origin: 0% top;
}

.menu:nth-child(3) .menu__container {
  animation-delay: 600ms;
}

.menu:nth-child(4) .menu__container {
  animation-delay: 1200ms;
}

footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer div {
  box-sizing: border-box;
  width: 100%;
}
footer div .footer-title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 25px;
  color: #FFFFFF;
}
footer div a {
  display: block;
  margin-bottom: 7px;
  color: #FFFFFF;
  margin-left: 25px;
}
footer div a i {
  margin-right: 11px;
}
footer div a .fa-solid {
  width: 11px;
  height: 13px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    height: 114px;
  }
  footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer .footer-container .footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 30px;
  }
  footer .footer-container a {
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }
  footer .footer-container .footer-title {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .footer-link {
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .footer-link {
    margin-right: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
