$light-turquoise: #99E2D0;
$dark-turquoise: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$location-grey: #EAEAEA;
$light-grey: #F3F3F3;
$lighter-grey: #F7F7F7;
$icon-grey: #7E7E7E;
$dark-grey: #353535;
$green: #99E2D0;

