.main-image {
    width: 100%;
    height: 275px;  
}

.container {
    background-color: $lighter-grey;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    &__header {
        margin: 32px 17px 2px 17px  ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__title {
            font-weight: 400;
            font-size: 28px;
        }
        &__heart {
            position: absolute;
            right: 0;
            margin-right: 40px;
            margin-top: 8px;
        }
    }
    &__form {
        &__button {
            display: block;
            margin-top: 40px;
            width: 186px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.menu {

    &__container {

        &__title {
            margin-top: 0px;
            margin-left: 13px;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
        }
        &__line {
            border: 2px solid $green;
            margin-left: 13px;
            width: 40px;
        }
        &__card {
            background-color: white;
            margin: 0px 13px 0px 13px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            height: 0px;
            
            &__label {
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;

                &__checkbox {
                    display: none;
                }

                &__checkbox:checked ~ .menu__container__card__label__check {
                    width: 60px;
                    .menu__container__card__label__check__icon {
                        transform: translateX(0);
                    }
                }
            
                &__content {

                    min-width: 0;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;
                    
                    &__left {
                        min-width: 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        
                        &__name {
                            width: 100%;
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            margin: 12px 0px 0px 15px;
                            font-weight: 500;
                            font-size: 18px;
                        }
                        &__description {
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            font-weight: 300;
                            font-size: 15px;
                            margin: 0px 0px 12px 15px;
                        }
                    }

                    &__right {
                        width: 60px;
                        height: 100%;
                        display: flex;
                        align-items: end;
                        justify-content: end;
                        &__price {
                            display: block;
                            font-weight: 700;
                            font-size: 15px;
                            margin: 0px 15px 13px 0px;
                        }
                    }

                }
                &__check {
                    position: relative;
                    width: 59px;
                    background-color: $green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 15px 15px 0px;
                    transition: all 700ms;
                    width: 0px;
                    &__icon {
                        color: white;
                        transition: all 700ms;
                        transform: translateX(60px);
                    }
                }
            }
        }
    }
}

// media queries

@media (min-width: 768px) {

    .main-image {
        height: 315px;
        object-fit: cover; 
    }

    .container {
        width: 1055px;

        &__header {
            justify-content: center;
        }

        &__heart {
            margin-right: 400px;
        }   
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__container {
            &__card {
                width: 634px;
            }
        }
    }
}


@media (min-width: 1024px) {

    .main-image {
        height: 350px;
        object-fit: cover; 
    }

    .container {
        width: 1055px;

        &__header {
            justify-content: center;
        }

        &__heart {
            margin-right: 400px;
        }   
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__container {
            &__card {
                width: 634px;
            }
        }
    }
}

@keyframes menu-x {
    0% {
        opacity: 0;
        height: 0px;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        height: 69px;
        margin-top: 12px;
    }
}

.menu__container__card {
    animation: menu-x 800ms forwards;
    transform-origin: top;
}

@keyframes menu-title {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 40px;
    }
}

.menu__container__title {
    animation: menu-title 800ms forwards;
}

.menu:nth-child(2) {
    h2 {
        animation-delay: 1000ms; 
    }
    article:nth-child(3) {
        animation-delay: 1000ms;
    }
    article:nth-child(4) {
        animation-delay: 1250ms;
    }
    article:nth-child(5) {
        animation-delay: 1500ms;
    }
    article:nth-child(6) {
        animation-delay: 1750ms;
    }
}
.menu:nth-child(3) {
    h2 {
        animation-delay: 2000ms; 
    }
    article:nth-child(3) {
        animation-delay: 2000ms;
    }
    article:nth-child(4) {
        animation-delay: 2250ms;
    }
    article:nth-child(5) {
        animation-delay: 2500ms;
    }
    article:nth-child(6) {
        animation-delay: 2750ms;
    }
}
.menu:nth-child(4) {
    h2 {
        animation-delay: 3000ms; 
    }
    article:nth-child(3) {
        animation-delay: 3000ms;
    }
    article:nth-child(4) {
        animation-delay: 3250ms;
    }
    article:nth-child(5) {
        animation-delay: 3500ms;
    }
    article:nth-child(6) {
        animation-delay: 3750ms;
    }
}