.heart{
    display: block;
    @include heart-w-h;
    &__checkbox {
       display: none;
    }
    &__full {
        position: absolute;
        opacity: 0;
        transition: opacity 500ms;
        @include heart-w-h;
    }
    &__checkbox:checked ~ &__full {
        opacity: 1;
    }
    &__empty {
        position: absolute;
        @include heart-w-h;
    }
}