footer {
    width: 100%;
    height: 186px;
    background-color: $dark-grey;
    div{
        box-sizing: border-box;
        width: 100%;
        .footer-title {
            font-size: 18px;
            font-weight: 400;
            margin-top: 22px;
            margin-bottom: 16px;
            margin-left: 25px;
            color: #FFFFFF;
        }
        a {
            display: block;
            margin-bottom: 7px;
            color: #FFFFFF;
            margin-left: 25px;
            i {
                margin-right: 11px;
            }
            .fa-solid {
                width: 11px;
                height: 13px;
            }
        }
    }
}

// Media queries

@media (min-width: 768px) {
    footer {
        display: flex;
        height: 114px;

        .footer-container {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: end;

            .footer-link-container {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 30px;
            }

            a {
                margin: 0;
                display: inline-block;
                margin-right: 20px;
            }

           .footer-title {
                margin: 0;
                margin-right: 20px;
                margin-bottom: 30px;
            }
        }
        
    }

    .footer-link {
        display: inline-block;
        width: auto;
    }
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        height: 114px;

        .footer-container {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: end;

            .footer-link-container {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 30px;
            }

            a {
                margin: 0;
                display: inline-block;
                margin-right: 20px;
            }

           .footer-title {
                margin: 0;
                margin-right: 20px;
                margin-bottom: 30px;
            }
        }
        
    }
}

